definition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://actionlogic.mx.com.sap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://actionlogic.mx.com.sap" xmlns:intf="http://actionlogic.mx.com.sap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
<xsd:schema>
<xsd:import namespace="http://actionlogic.mx.com.sap/" schemaLocation="http://10.209.90.66:20003/AprovisionamientoWSServidor/WsAprovTceldActionPort?xsd=1"/>
</xsd:schema>
 </wsdl:types>

   <wsdl:message name="com15_aprov_telcelRequest">

      <wsdl:part element="impl:com15_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com9_aprov_telcelResponse">

      <wsdl:part element="impl:com9_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inicioRequest">

      <wsdl:part element="impl:inicio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com7_aprov_telcelRequest">

      <wsdl:part element="impl:com7_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inicioResponse">

      <wsdl:part element="impl:inicioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com15_aprov_telcelResponse">

      <wsdl:part element="impl:com15_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelar_aprov_telcelRequest">

      <wsdl:part element="impl:cancelar_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com12_aprov_telcelResponse">

      <wsdl:part element="impl:com12_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com17_aprov_telcelRequest">

      <wsdl:part element="impl:com17_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com20_aprov_telcelRequest">

      <wsdl:part element="impl:com20_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com6_aprov_telcelResponse">

      <wsdl:part element="impl:com6_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com12_aprov_telcelRequest">

      <wsdl:part element="impl:com12_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com14_aprov_telcelRequest">

      <wsdl:part element="impl:com14_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com18_aprov_telcelResponse">

      <wsdl:part element="impl:com18_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com19_aprov_telcelRequest">

      <wsdl:part element="impl:com19_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modificar_aprov_telcelResponse">

      <wsdl:part element="impl:modificar_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reactivar_aprov_telcelRequest">

      <wsdl:part element="impl:reactivar_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelar_aprov_telcelResponse">

      <wsdl:part element="impl:cancelar_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="suspender_aprov_telcelRequest">

      <wsdl:part element="impl:suspender_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="alta_aprov_telcelResponse">

      <wsdl:part element="impl:alta_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com8_aprov_telcelResponse">

      <wsdl:part element="impl:com8_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com14_aprov_telcelResponse">

      <wsdl:part element="impl:com14_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="existeConexionResponse">

      <wsdl:part element="impl:existeConexionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com10_aprov_telcelRequest">

      <wsdl:part element="impl:com10_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com13_aprov_telcelResponse">

      <wsdl:part element="impl:com13_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com16_aprov_telcelRequest">

      <wsdl:part element="impl:com16_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com20_aprov_telcelResponse">

      <wsdl:part element="impl:com20_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="existeConexionRequest">

      <wsdl:part element="impl:existeConexion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modificar_aprov_telcelRequest">

      <wsdl:part element="impl:modificar_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com8_aprov_telcelRequest">

      <wsdl:part element="impl:com8_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com11_aprov_telcelResponse">

      <wsdl:part element="impl:com11_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com13_aprov_telcelRequest">

      <wsdl:part element="impl:com13_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com16_aprov_telcelResponse">

      <wsdl:part element="impl:com16_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com18_aprov_telcelRequest">

      <wsdl:part element="impl:com18_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com10_aprov_telcelResponse">

      <wsdl:part element="impl:com10_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com9_aprov_telcelRequest">

      <wsdl:part element="impl:com9_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com17_aprov_telcelResponse">

      <wsdl:part element="impl:com17_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com7_aprov_telcelResponse">

      <wsdl:part element="impl:com7_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com11_aprov_telcelRequest">

      <wsdl:part element="impl:com11_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="suspender_aprov_telcelResponse">

      <wsdl:part element="impl:suspender_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com19_aprov_telcelResponse">

      <wsdl:part element="impl:com19_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reactivar_aprov_telcelResponse">

      <wsdl:part element="impl:reactivar_aprov_telcelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="com6_aprov_telcelRequest">

      <wsdl:part element="impl:com6_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="alta_aprov_telcelRequest">

      <wsdl:part element="impl:alta_aprov_telcel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WsAprovTceldAction">

      <wsdl:operation name="alta_aprov_telcel">

         <wsdl:input message="impl:alta_aprov_telcelRequest" name="alta_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:alta_aprov_telcelResponse" name="alta_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suspender_aprov_telcel">

         <wsdl:input message="impl:suspender_aprov_telcelRequest" name="suspender_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:suspender_aprov_telcelResponse" name="suspender_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reactivar_aprov_telcel">

         <wsdl:input message="impl:reactivar_aprov_telcelRequest" name="reactivar_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:reactivar_aprov_telcelResponse" name="reactivar_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelar_aprov_telcel">

         <wsdl:input message="impl:cancelar_aprov_telcelRequest" name="cancelar_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelar_aprov_telcelResponse" name="cancelar_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificar_aprov_telcel">

         <wsdl:input message="impl:modificar_aprov_telcelRequest" name="modificar_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:modificar_aprov_telcelResponse" name="modificar_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com6_aprov_telcel">

         <wsdl:input message="impl:com6_aprov_telcelRequest" name="com6_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com6_aprov_telcelResponse" name="com6_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com7_aprov_telcel">

         <wsdl:input message="impl:com7_aprov_telcelRequest" name="com7_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com7_aprov_telcelResponse" name="com7_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com8_aprov_telcel">

         <wsdl:input message="impl:com8_aprov_telcelRequest" name="com8_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com8_aprov_telcelResponse" name="com8_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com9_aprov_telcel">

         <wsdl:input message="impl:com9_aprov_telcelRequest" name="com9_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com9_aprov_telcelResponse" name="com9_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com10_aprov_telcel">

         <wsdl:input message="impl:com10_aprov_telcelRequest" name="com10_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com10_aprov_telcelResponse" name="com10_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com11_aprov_telcel">

         <wsdl:input message="impl:com11_aprov_telcelRequest" name="com11_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com11_aprov_telcelResponse" name="com11_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com12_aprov_telcel">

         <wsdl:input message="impl:com12_aprov_telcelRequest" name="com12_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com12_aprov_telcelResponse" name="com12_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com13_aprov_telcel">

         <wsdl:input message="impl:com13_aprov_telcelRequest" name="com13_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com13_aprov_telcelResponse" name="com13_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com14_aprov_telcel">

         <wsdl:input message="impl:com14_aprov_telcelRequest" name="com14_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com14_aprov_telcelResponse" name="com14_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com15_aprov_telcel">

         <wsdl:input message="impl:com15_aprov_telcelRequest" name="com15_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com15_aprov_telcelResponse" name="com15_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com16_aprov_telcel">

         <wsdl:input message="impl:com16_aprov_telcelRequest" name="com16_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com16_aprov_telcelResponse" name="com16_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com17_aprov_telcel">

         <wsdl:input message="impl:com17_aprov_telcelRequest" name="com17_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com17_aprov_telcelResponse" name="com17_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com18_aprov_telcel">

         <wsdl:input message="impl:com18_aprov_telcelRequest" name="com18_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com18_aprov_telcelResponse" name="com18_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com19_aprov_telcel">

         <wsdl:input message="impl:com19_aprov_telcelRequest" name="com19_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com19_aprov_telcelResponse" name="com19_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com20_aprov_telcel">

         <wsdl:input message="impl:com20_aprov_telcelRequest" name="com20_aprov_telcelRequest">

       </wsdl:input>

         <wsdl:output message="impl:com20_aprov_telcelResponse" name="com20_aprov_telcelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inicio">

         <wsdl:input message="impl:inicioRequest" name="inicioRequest">

       </wsdl:input>

         <wsdl:output message="impl:inicioResponse" name="inicioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="existeConexion">

         <wsdl:input message="impl:existeConexionRequest" name="existeConexionRequest">

       </wsdl:input>

         <wsdl:output message="impl:existeConexionResponse" name="existeConexionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsAprovTceldActionSoapBinding" type="impl:WsAprovTceldAction">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="alta_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="alta_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="alta_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suspender_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="suspender_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="suspender_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reactivar_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reactivar_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reactivar_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelar_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelar_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelar_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modificar_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modificar_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modificar_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com6_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com6_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com6_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com7_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com7_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com7_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com8_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com8_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com8_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com9_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com9_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com9_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com10_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com10_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com10_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com11_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com11_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com11_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com12_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com12_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com12_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com13_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com13_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com13_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com14_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com14_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com14_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com15_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com15_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com15_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com16_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com16_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com16_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com17_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com17_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com17_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com18_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com18_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com18_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com19_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com19_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com19_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="com20_aprov_telcel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="com20_aprov_telcelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="com20_aprov_telcelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inicio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inicioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inicioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="existeConexion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="existeConexionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="existeConexionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>
    <wsdl:service name="WsAprovTceldActionService">
    <wsdl:port name="WsAprovTceldActionPort" binding="impl:WsAprovTceldActionSoapBinding">
            <wsdlsoap:address location="http://10.209.90.66:20003/AprovisionamientoWSServidor/WsAprovTceldActionPort"/></wsdl:port>
    </wsdl:service>
</wsdl:definitions>